/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html {
  background-color: #ead2ac;
  box-sizing: border-box;
 
}

body {
  font-family: 'PT Serif Caption';
  margin: 0;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

header, p, img, h2, h3 {
  max-width: 600px;
  
}

img {
  width: 100%;
}

header { 
  margin: 0px;
  padding: 0px;
  background-image: url('https://payload.cargocollective.com/1/22/728149/12658948/elizabethan-woman-online_1000.jpg');
  background-size: cover;
  font-family: 'Zilla Slab Highlight', cursive;
  min-height: 150px;
  color: white;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

#header-1 {
  font-size: 35px;
  padding: 5px;
}

#header-2 {
  font-size: 25px;
  margin-top: -20px;
  padding: 5px;
}

h3, h4 {
  font-family: 'Averia Serif Libre';
  padding: 5px;

}

h5 {
  margin-top: -20px;
  padding: 5px;
}

h3 {
  font-size: 25px;
  padding: 5px;
}

p {
  line-height: 21px;
  padding: 5px;
}

form {
  padding: 5px;
}

label {
  font-size: 20px;
}

input {
  margin: 9px;
}

button {
  border: 2px black solid;
  padding: 10px;
  margin: 5px 5px 15px 5px;
  background: white;
}

#answer {
  font-size: 30px;
}

#result-quote {
  font-family: 'Averia Serif Libre';
  font-size: 45px;
  padding: 5px;
}

.correct-incorrect {
  padding: 5px;
  font-weight: 50;
}

@media all and (min-width: 601px) {
  header, p, h2, h3 {
    max-width: 1500px;
  }

  body {
    text-align: center;
  }

  #header-1 {
    font-size: 60px;
  }

  #header-2 {
    font-size: 40px;
  }

  p {
    padding: 15px 300px;
  }


  img {
    margin: 15px;
  }

}

@media all and (max-width: 1050px) {

p {
  padding: 15px 10px;
}
}