/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/****** groups and items ************/
.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body {
    padding: 15px;
}

.button {
    border: 2px black solid;
    padding: 10px;
    margin-top: 25px;
}

p, img, h2, h3 {
  max-width: 600px;
}



